<div class="content-card auth-card">
  <h1>Edit Account</h1>
  <p class="section-subtext">Update your customer details for a faster checkout experience.</p>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: "auth-form" }) do |f| %>
    <%= render "customers/shared/error_messages", resource: resource %>

    <div class="auth-grid auth-grid-signup">
      <div class="auth-field">
        <%= f.label :full_name, "Full Name" %>
        <%= f.text_field :full_name, autocomplete: "name" %>
      </div>

      <div class="auth-field">
        <%= f.label :email %>
        <%= f.email_field :email, autocomplete: "email" %>
      </div>

      <div class="auth-field">
        <%= f.label :province_id, "Province" %>
        <%= f.collection_select :province_id, Province.order(:name), :id, :name, { prompt: "Choose a province" }, {} %>
      </div>

      <div class="auth-field">
        <%= f.label :password, "New Password" %>
        <p class="auth-help">Leave blank if you do not want to change it.</p>
        <%= f.password_field :password, autocomplete: "new-password" %>
      </div>

      <div class="auth-field">
        <%= f.label :password_confirmation, "Confirm New Password" %>
        <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
      </div>

      <div class="auth-field">
        <%= f.label :current_password, "Current Password" %>
        <p class="auth-help">Required to save account changes.</p>
        <%= f.password_field :current_password, autocomplete: "current-password" %>
      </div>
    </div>

    <div class="auth-actions">
      <%= f.submit "Update Account", class: "primary-button auth-submit" %>
    </div>
  <% end %>
</div>