<div class="content-card">
  <p class="section-subtext">
    <%= link_to "Home", root_path %> &gt; <%= @category.name %>
  </p>

  <h1><%= @category.name %></h1>
  <p class="section-subtext">
    <%= @category.description.presence || "Browse items in this collection." %>
  </p>

  <div class="products-grid">
    <% @products.each do |product| %>
      <%= render partial: "product_card", locals: { product: product } %>
    <% end %>
  </div>
</div>

<div class="category-pagination-inside">
  <%= paginate @products %>
</div>