<h1>ArtForYou</h1>

<nav>
  <%= link_to "About", about_path %> |
  <%= link_to "Contact", contact_path %>
</nav>

<%= form_with url: root_path, method: :get, local: true do %>
  <div>
    <%= label_tag :keyword, "Search" %>
    <%= text_field_tag :keyword, params[:keyword] %>
  </div>

  <div>
    <%= label_tag :category_id, "Category" %>
    <%= select_tag :category_id,
        options_from_collection_for_select(@categories, :id, :name, params[:category_id]),
        include_blank: "All Categories" %>
  </div>

<%= select_tag :filter,
  options_for_select([
    ["All", ""],
    ["New", "new"],
    ["Recently Updated", "recent"],
    ["On Sale", "on_sale"]
  ], params[:filter]) %>

  <%= submit_tag "Search" %>
<% end %>

<h2>Browse by Category</h2>
<ul>
  <% @categories.each do |category| %>
    <li><%= link_to category.name, category_path(category) %></li>
  <% end %>
</ul>

<h2>Products</h2>

<div class="products-grid">
    <% @products.each do |product| %>
        <%= render partial: "product_card", locals: { product: product } %>
    <% end %>
</div>

<div>
  <%= paginate @products %>
</div>